.header {
  background-image: url("../images/barn-clouds-color-248832.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.header h1 {
  font-size: 80px;
  font-family: fantasy;
  padding-top: 100px;
  color: green;
  margin-left: 100px;
}

#about {
  padding: 100px;
  background-color: rgb(231, 243, 239);
}

#produce {
  padding: 100px;
  background-image: url("../images/brown-close-up-hd-wallpaper-172289.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#events {
  padding: 100px;
}

#contact {
  padding: 100px;
}

.carousel-item img {
    width: 600px;
    height: 600px;
}